react-namaste/02-ignite-project/01-parcel/node_modules
react-namaste/02-ignite-project/01-parcel/.parcel-cache
react-namaste/02-ignite-project/01-parcel/dist
react-namaste/02-ignite-project/02-vite/node_modules
react-namaste/02-ignite-project/03-cra/node_modules
react-namaste/03-laying-react-foundations/.parcel-cache
react-namaste/03-laying-react-foundations/node_modules
react-namaste/03-laying-react-foundations/dist
